/* Basic styles */
body {
    font-family: sans-serif;
    margin: 10px;
    padding: 10px;
    background-color: rgb(68, 180, 113);

}

header {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    text-align: center;
}


#installation.h1 {
    text-align: center;
    color: blanchedalmond;
}

p {
    color: #666;
}

main {
    padding: 50px;
}

/* Hero section styles */
.hero {
    text-align: center;
    margin-bottom: 50px;
}

.hero h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.hero button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.hero button:hover {
    background-color: #0069d9;
}

/* Features section styles */
.features {
    margin-bottom: 50px;
}

.features h3 {
    text-align: center;
    margin-bottom: 20px;
}

.features ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.features li {
    margin-bottom: 10px;
}

/* Benefits section styles */
.benefits {
    margin-bottom: 50px;
}

#st{
	max-width: 100px;
	max-height: 150px;
    float: left;
}

.student{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 200px;
}
.inst.text {
    position: absolute;
    text-align: center;
}
.inst.p{
    text-align: left;
    float: inline-start;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}

.text {
    text-align: center;
    color: black;
}

#alx {
    display: flex;
    justify-content: space-around;
}

#alx > div {
    flex: 1;
    margin:10px; 
}

#alx.snaps {
    position: relative;
    top: 10;
    right: auto;
}

#installation h1, code{
    color: #007bff;
}

.lx h1 {
    color: #666;
}

.snaps{
    position: absolute;
    right: 0;
}
